@page
@model RegisterModel
@{
    ViewData["Title"] = "Registrarse";
}

<h1>@ViewData["Title"]</h1>
<hr />

<div class="col-md-5 mx-auto">

    <div class="card">
        <div class="card-header">
            <h4 class="text-center">Crea tu Cuenta.</h4>
        </div>
        <div class="card-body">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <input placeholder="Correo" autofocus asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input placeholder="Contraseña" asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input placeholder="Confirma tu Contraseña" asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
